{% extends "base.html" %}
{% load staticfiles i18n bitrepo_tags %}

{% block media %}
{{ block.super }}
{% endblock %}

{% block title %}{% trans "Movies" %}{% endblock %}

{% block content %}
<div class="bitrepo">
  <p class="navigation">
  <span class="item"><a href="/admin/bitrepo/movie/">Manage movies</a></span>
  <span class="item"><a href="/admin/bitrepo/movie/add/">Add movie</a></span>
  </p>
  <p class="title">{% trans "Available Movies" %}</p>
  <p>{% trans "From this page you have access to all uploaded movies. A movie is comprised of a torrent file and attachments (subtitles for example). You can download the whole movie as a zip file or just the torrent. Choose by clicking on the appropriate icons bellow." %}</p>

{% ifnotequal pages.paginator.num_pages 1 %}
<p class="pagination">pages: {% bitrepo_paginator pages %}</p>
{% endifnotequal %}

<table class="movies">
  <tr>
    <th>{% trans "Shortcuts" %}</th>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Year" %}</th>
    <th>{% trans "Date" %}</th>
    <th>{% trans "User" %}</th>
  </tr>
  {% for obj in pages.object_list %}
  <tr class="{% cycle "even" "odd" %}">
    <td class="shortcuts">
      <a href="{% url bitrepo:zip obj.id %}" title="{% trans "full package download" %}"><img src="{% static "bitrepo/img/png/16/zip.png" %}" width="16" height="16"/></a>
      <a href="{% url bitrepo:torrent obj.id %}" title="{% trans "torrent download" %}"><img src="{% static "bitrepo/img/png/16/bittorrent.png" %}" width="16" height="16"/></a>
      <a href="{% url admin:bitrepo_movie_change obj.id %}" title="{% trans "edit this movie" %}"><img src="{% static "bitrepo/img/png/16/edit.png" %}" width="16" height="16"/></a>
      {% if obj.link %}
      <a href="{{ obj.link }}" title="{% trans "view more information about this movie" %}"><img src="{% static "bitrepo/img/png/16/url.png" %}" width="16" height="16"/></a>
      {% endif %}
    </td> 
    <td class="name">{{ obj.name.capitalize }}</td>
    <td class="year">{{ obj.year }}</td>
    <td class="date">{{ obj.date|date:"D, d/m/y, H:i T" }}</td>
    <td class="user">{{ obj.user }}</td>
  </tr>
  {% empty %}
  <tr><td colspan="5">{% trans "No movies uploaded so far." %}</td></tr>
  {% endfor %}
</table>

</div>
{% endblock %}
